spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
  profiles:
    active: ${ENV}
  redis:
    host: ${REDIS_HOST}
    password: ${REDIS_PASSWORD}
mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-aliases-package: com.jxx.lucky.dos
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
mybatis-plus:
  type-enums-package: com.jxx.lucky*