spring:
  cloud:
    gateway:
      discovery:
        locator:
          lowerCaseServiceId: true
      routes:
        - id: auth
          uri: lb://auth
          predicates:
            - Path=/auth/**
          filters:
            - SwaggerHeaderFilter
            - StripPrefix=1
        - id: user
          uri: lb://user
          predicates:
            - Path=/user/**
          filters:
            - SwaggerHeaderFilter
            - StripPrefix=1
        - id: lucky
          uri: lb://lucky
          predicates:
            - Path=/lucky/**
          filters:
            - SwaggerHeaderFilter
            - StripPrefix=1
# 配置输出日志
logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.ipc.netty: DEBUG

#开启端点
management:
  endpoints:
    web:
      exposure:
        include: '*'
  security:
    enabled: false
secure:
  ignore:
    urls:
      - "/actuator/**"
      - "/auth/**"
      - "/public/**"
      - "/doc.html"
      - "/doc.html#/**"
      - "/*.html"
      - "/webjars/**"
      - "/swagger-resources/**"
      - "/*/*/api-docs"